.detailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100vw;
    
}

.dataAndImageContainer {
    height: 90%;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    display: grid;
    grid-template-columns: repeat(auto-fit,500px);
    max-width: 1000px;
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.65);
}



.dataContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    
    
}

.dataSubContainer {
    position: relative;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    word-wrap: break-word;
}

.nameDiv{
    display: flex;
    align-items: center;
    background-color: #057c8bcb;
    position: absolute;
    top: 0px;
    left: 0px;
    height:50px;
    width: 100%;
    padding: 0px 0px;
}

.dataTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

}

.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.detailImage {
    height: 90%;
    float: right;
}

.h2Text {
    padding-left: 20px;
}

